IMPORTING NECESSARY LIBRARIES

In [ ]:
import pandas as pd
from datetime import datetime

import pymysql
from pymysql import Error

from sqlalchemy import create_engine, text

DATASET PREVIEW

In [14]:
df = pd.read_csv("Healtcare-Dataset.csv")
df.head()

,Patient_ID,Admit_Date,Discharge_Date,Diagnosis,Bed_Occupancy,Test,Doctor,Followup Date,Feedback,Billing Amount,Health Insurance Amount
0,23571,12/31/2022,1/12/2023,Viral Infection,General,MRI,Jay Sinha,1/20/2023,5.0,13234,11911
1,27781,1/4/2023,1/12/2023,Typhoid,ICU,MRI,Jaya Yaadav,1/16/2023,4.0,12241,11017
2,24413,1/5/2023,1/12/2023,Malaria,General,CT Scan,Jay Sinha,1/15/2023,5.0,35255,31730
3,27360,1/5/2023,1/12/2023,Flu,Private,X-Ray,Jaya Yaadav,1/19/2023,5.0,6582,5924
4,26097,1/6/2023,1/12/2023,Viral Infection,General,Blood Test,Jaya Yaadav,2/6/2023,4.9,4567,4110

In [15]:
df.info()

# NOTE: Followup_Date can be NULL since NO Followup is allowed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   object
 2   Discharge_Date           7157 non-null   object
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   object
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 615.2+ KB

In [16]:
print(df.columns)

Index(['Patient_ID', 'Admit_Date', 'Discharge_Date', 'Diagnosis',
       'Bed_Occupancy', 'Test', 'Doctor', 'Followup Date', 'Feedback',
       'Billing Amount', 'Health Insurance Amount'],
      dtype='object')

In [17]:
# Datetime Conversion
df['Admit_Date'] = pd.to_datetime(df['Admit_Date'])
df['Discharge_Date'] = pd.to_datetime(df['Discharge_Date'])
df['Followup Date'] = pd.to_datetime(df['Followup Date'], errors='coerce')

print(df.dtypes)

Patient_ID                          int64
Admit_Date                 datetime64[ns]
Discharge_Date             datetime64[ns]
Diagnosis                          object
Bed_Occupancy                      object
Test                               object
Doctor                             object
Followup Date              datetime64[ns]
Feedback                          float64
Billing Amount                      int64
Health Insurance Amount             int64
dtype: object

In [ ]:
# Renaming columns to avoid column naming convention issues in SQL
df.rename(columns={'Followup Date' : 'Followup_Date',
                   'Billing Amount' : 'Billing_Amount',
                   'Health Insurance Amount' : 'Health_Insurance_Amount'},
                   inplace=True)

print(df.columns)

Index(['Patient_ID', 'Admit_Date', 'Discharge_Date', 'Diagnosis',
       'Bed_Occupancy', 'Test', 'Doctor', 'Followup_Date', 'Feedback',
       'Billing_Amount', 'Health_Insurance_Amount'],
      dtype='object')

DATASET TO DATABASE CREATION

In [19]:
try:
    # Establishing connection to MYSQL Server
    conn = pymysql.connect(host = 'localhost',
                           user = 'root',
                           password = 'root')
    print("MYSQL Server connection established")
    
    # Creating Cursor Object
    cursor = conn.cursor()

    # Creating a Database
    cursor.execute('CREATE DATABASE IF NOT EXISTS project_healthcare')
    print("project_healthcare database is created")

    # SELECT DATABASE
    cursor.execute("USE project_healthcare")

    # Select first row in the database
    record = cursor.fetchone()

    # Create table
    cursor.execute('DROP TABLE IF EXISTS healthcare')
    cursor.execute('CREATE TABLE healthcare(patient_id INTEGER PRIMARY KEY,' \
                                            'admit_date DATE,' \
                                            'discharge_date DATE,' \
                                            'diagnosis VARCHAR(50),' \
                                            'bed_occupancy VARCHAR(20),' \
                                            'test VARCHAR(50),' \
                                            'doctor VARCHAR(50),' \
                                            'followup_date DATE,' \
                                            'feedback FLOAT,' \
                                            'billing_amount INTEGER,' \
                                            'health_insurance_amount INTEGER)')
    print(f"Table healthcare and column_name is created at {datetime.now()}")

    conn.commit()

except Error as e:
    print("MYSQL Server Connection failed", e)

finally:
    if cursor:
        print("Cursor to be closed")
        cursor.close()
    if conn:
        print("Connection to be closed")
        conn.close()

MYSQL Server connection established
project_healthcare database is created
Table healthcare and column_name is created at 2025-05-22 10:49:11.570795
Cursor to be closed
Connection to be closed

INSERT ENTRIES TO TABLE

In [20]:
# Create Connection

engine = create_engine('mysql+pymysql://root:root@localhost/project_healthcare')

In [21]:
# Write dataframe to sql table

df.to_sql('healthcare', engine, index=False, if_exists='append')

7157

In [22]:
with engine.connect() as cursor:
    res = cursor.execute(text("DESCRIBE healthcare"))
    for X in res:
        print(X)

('patient_id', 'int', 'NO', 'PRI', None, '')
('admit_date', 'date', 'YES', '', None, '')
('discharge_date', 'date', 'YES', '', None, '')
('diagnosis', 'varchar(50)', 'YES', '', None, '')
('bed_occupancy', 'varchar(20)', 'YES', '', None, '')
('test', 'varchar(50)', 'YES', '', None, '')
('doctor', 'varchar(50)', 'YES', '', None, '')
('followup_date', 'date', 'YES', '', None, '')
('feedback', 'float', 'YES', '', None, '')
('billing_amount', 'int', 'YES', '', None, '')
('health_insurance_amount', 'int', 'YES', '', None, '')

In [23]:
with engine.connect() as cursor:
    res = cursor.execute(text("SELECT * FROM healthcare"))
    
    for i,row in enumerate(res):
        print(row)
        if i == 5:
            break

(23571, datetime.date(2022, 12, 31), datetime.date(2023, 1, 12), 'Viral Infection ', 'General', 'MRI', 'Jay Sinha', datetime.date(2023, 1, 20), 5.0, 13234, 11911)
(23572, datetime.date(2023, 1, 8), datetime.date(2023, 1, 13), 'Flu', 'Private', 'CT Scan', 'Jay Sinha', datetime.date(2023, 1, 16), 5.0, 32484, 29236)
(23573, datetime.date(2023, 1, 9), datetime.date(2023, 1, 14), 'Flu', 'Private', 'MRI', 'Niki Sharma', datetime.date(2023, 1, 22), 4.0, 43255, 38930)
(23574, datetime.date(2023, 1, 9), datetime.date(2023, 1, 15), 'Typhoid', 'Private', 'Blood Test', 'Tejas Saxena', datetime.date(2023, 1, 19), 5.0, 8732, 7859)
(23575, datetime.date(2023, 1, 13), datetime.date(2023, 1, 16), 'Flu', 'Private', 'Blood Test', 'Tejas Saxena', datetime.date(2023, 1, 19), 5.0, 6454, 5809)
(23576, datetime.date(2022, 12, 15), datetime.date(2023, 1, 17), 'Viral Infection ', 'Private', 'MRI', 'Niki Sharma', datetime.date(2023, 1, 24), 5.0, 74329, 66896)